include LICENSE
include README.md
include CHANGELOG.md
include SECURITY.md
include requirements.txt
include .env.example
include appmanager/py.typed
recursive-include appmanager/templates *
recursive-include appmanager/static *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .env*
recursive-exclude * instance *
recursive-exclude * installed_apps *
recursive-exclude * *.db
recursive-exclude * *.sqlite*
recursive-exclude * .venv *
recursive-exclude * .pytest_cache *
